* {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /*font stile*/
    font-weight: 500;
    font-style: normal;


}

nav {
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 170px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.nav-links ul li a i {
    font-size: 18px;
    /* Adjust icon size as needed */
}

.nav-links ul li::after {
    content: "";
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* CSS Styles for Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
}

.social-icons a:hover {
    color: #aaa;
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

p {
    padding: 0%;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.page-editor-link a {
    color: white;
    /* Text color */
    text-decoration: none;
    /* Remove underline */
}

.page-editor-link a:hover {
    text-decoration: none;
    /* Remove underline on hover */
    opacity: 0.8;
    /* Change opacity on hover if desired */
}